rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    // A function to help debug values. It will always return false.
    function debug(value) {
      return false;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /projects/{projectId} {
      // This rule will be used for fetching a single project.
      allow get: if isSignedIn() && request.auth.uid == resource.data.userId;

      // New debugging rule for listing projects.
      // This will fail and should show us the request.auth.uid in the error.
      allow list: if debug(request.auth.uid);

      // Rules for writing data.
      allow create: if isSignedIn() && request.auth.uid == request.resource.data.userId;
      allow update, delete: if isSignedIn() && request.auth.uid == resource.data.userId;
    }

    // Default deny all other paths
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
